.filter {   margin: 10px 0 20px;   font-family: arial, 'Hiragino Sans GB', 宋体,
sans-serif;   font-size: 12px; }

.filter .filter-toggle {
  float: right;
  background-color: rgb(246, 246, 246);
  padding: 0 9px;
  border: solid 1px #e8e8e8;
  line-height: 24px;
  height: 24px;
  width: 63px;
}

.filter .crumb a {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

.filter .crumb a:hover {
  color: #f40; 
  cursor:pointer;
}

.filter .total {
  color: #3c3c3c;
  text-decoration: none;
}

.arrow-right {
  background-image: url('../images/taobao-icons.png');
  background-position: -111px -423px;
  background-size: auto;
  cursor: default !important;
  display: inline-block;
  margin: 10px 5px 0px 5px;  
  height: 9px;
  width: 5px;
}

.arrow-down {
  background-attachment: scroll;
  background-image: url('../images/taobao-icons.png');
  background-clip: border-box;
  background-position: -279px -423px;
  background-size: auto;
  display: inline-block;
  margin-left: 3px;
  padding-right: 4px;
  height: 7px;
  width: 4px;
}



